@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --copy-green: #435150;
    --primary-green: #00857C;
    --secondary-green: #85F3EC;

    --Salmon: #e5f2ff;

    --copy-orange: #6C3B01;
    --primary-orange: #FFC989;
    --secondary-orange: #FFF7EE;

    --white: #FFFFFF;

    --outer-radius: 1rem;
    --inner-radius: 0.5rem;
    --small-radius: 0.25rem;


    --large-font-size: 2.125rem;
    --medium-font-size: 1.5rem;
    --small-font-size: 1rem;
    --small1-font-size: 0.75rem;

    --hover-transition: all 0.3s ease-in-out;

    --shadow: 0px 4px 16px rgba(67, 81, 80, 0.1);
}

html{
    scroll-behavior: smooth;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin: 0px 100px;
    column-gap: 20px;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(9,1fr);
    margin: 0px 50px;
    column-gap: 20px;
}

.navbar{
    background-color: var(--white);
    padding: 1.5rem 100px;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    color: var(--copy-green);
    font-weight: bold;
    font-size: var(--large-font-size);
}

.logo1 {
    display: flex;
    align-items: center;
    color: var(--copy-green);
    font-weight: bold;
    font-size: var(--medium-font-size);
    margin-top: -10px;
    color: #3B3B3B;
  }

.logo1::before {
    content: "";
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: orange;
    margin-right: -14px;
  }

.logo1::first-letter {
    font-size: 1.5em;
    font-weight: bold;
}

.menu{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    text-decoration: none;
    list-style-type: none;
    justify-content: flex-end; /* wyśrodkowanie wzdłuż osi poziomej na środek */
    align-items: center; 
}
.menu li a {
    text-decoration: none; /* usunięcie podkreślenia */
    color: var(--copy-green);
    font-size: var(--small-font-size);
    font-weight: normal;
    line-height: 1.5; /* ustawienie odstępu między liniami tekstu */
  }
  

.menu-item{
    color: var(--copy-green);
    font-size: var(--small-font-size);
    text-decoration: none;
}

.menu-item:hover {
    color: var(--primary-green);
    transition: var(--hover-transition);
}


h3 {
    font-size: var(--large-font-size);
    font-weight: bold;
    line-height: 2.75rem;
}

h2 {
    font-size: var(--medium-font-size);
    font-weight: bold;
    line-height: 2.75rem;
}

h1 {
    font-size: var(--small1-font-size);
    font-weight: normal;
    line-height: 1.25rem;
    color: #808080;
}

p {
    font-size: var(--small-font-size);
    font-weight: normal;
    line-height: 1.5rem;
    text-align: left;
    letter-spacing: 0.5px;
}

i{
    padding: 0.5rem 0.5rem 0.5rem 0rem;
}

.dark {
    color: var(--copy-green);
}

.green {
    color: var(--primary-green);
}

.orange {
    color: var(--copy-orange);
}

.bold{
    font-weight: bold;
}

.hero-section {
    height: 150vh;
    padding-top: -50px;
}

.hero-image{

    height: 100vh;
    grid-area: 1/7/8/13;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    border-radius: var(--outer-radius);
    background-image: url(./assets/hero_image.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: left;
}

.svg-background {
    width: 300px;
    height: 200px;
    background-image: url(data:/svg+xml;base64,PHN2ZyB4bWxucz0iaH...);
    background-repeat: no-repeat;
    background-position: center center;
}

.welcome-text {
    display: flex;
    grid-area: 3/2/4/6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.25rem;
    width: 100%;
    background-image: url(./assets/dots\ hero\ section.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left ,right center;
}

.search-container1 {
    height: 40%;
    
    grid-area: 4/2/5/6;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: var(--small-radius);
    box-shadow: var(--shadow);
    border: 1px solid #98A9FF;
    border-radius: 4px;
    justify-self: center;
    align-self: center;
    position: relative;
  }

  .search-container1 p {
    position: absolute; /* ustawienie pozycji bezpośrednio nad kontenerem */
    top: -1.5rem; /* ustawienie odstępu od góry kontenera */
    left: 0; /* ustawienie tekstu na lewo od środka kontenera */
    width: 100%; /* rozciągnięcie elementu na całą szerokość kontenera */
    text-align: left; /* wyrównanie tekstu na środku poziomo */
    font-size: var(--small1-font-size);
    font-weight: normal;
    color: #3B3B3B;
  }

.search-container2 {
    height: 40%;
    grid-area: 5/2/6/6 ;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: var(--small-radius);
    box-shadow: var(--shadow);
    border: 1px solid #98A9FF;
    border-radius: 4px;
    justify-self: center;
    align-self: flex-start;
    position: relative;
  }

  .search-container2 p {
    position: absolute; /* ustawienie pozycji bezpośrednio nad kontenerem */
    top: -1.5rem; /* ustawienie odstępu od góry kontenera */
    left: 0; /* ustawienie tekstu na lewo od środka kontenera */
    width: 100%; /* rozciągnięcie elementu na całą szerokość kontenera */
    align-self: flex-start;/* wyrównanie tekstu na środku poziomo */
    font-size: var(--small1-font-size);
    font-weight: normal;
    color: #3B3B3B;
  }

.button-section {
    grid-area: 5/2/6/6 ;
    display: flex;
    margin-top: 50px;
}

.gray-text {
    color: #3B3B3B;
    margin-top: 0.2rem;
    margin-right: 0.2rem; /* odstęp między napisami */
    font-size: var(--small1-font-size);
    font-weight: normal;
    line-height: 1.5rem;
  }
  
.red-text {
    color: red;
    margin-top: 0.2rem;
    margin-right: 0.5rem; /* odstęp między napisami */
    font-size: var(--small1-font-size);
    font-weight: normal;
    line-height: 1.5rem;
}
  
.align-right {
    margin-left: auto; /* przesunięcie w prawą stronę */
    margin-right: 0rem; 
    font-size: var(--small1-font-size);
    font-weight: normal;
    line-height: 1.5rem;
}

button1 {
    margin-left: 20px;
    border: none;
    outline: none;
    padding: 1rem 1rem; /* zmniejszanie rozmiaru paddingu */
    border-radius: 4px;
    cursor: pointer;
    justify-self: center; /* wyśrodkowanie wzdłuż osi poziomej na środek */
    align-self: end; /* wyśrodkowanie wzdłuż osi pionowej na dół */

    background: #FFC044;
  }

  button2 {
    border: none;
    outline: none;
    padding: 0.5rem 1rem; /* zmniejszanie rozmiaru paddingu */
    border-radius: 4px;
    cursor: pointer;
    justify-self: start; /* wyśrodkowanie wzdłuż osi poziomej na środek */
    align-self: start; /* wyśrodkowanie wzdłuż osi pionowej na dół */

    background: #FFC044;
  }

.key_container {
    display: flex;
    grid-area: 8/3/11/11;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.25rem;
    width: 100%;
    background-image: url(./assets/dots\ about\ section.svg);
    background-repeat: no-repeat;
    background-size: 42%;
    background-position: right;
}

input {
    border: none;
    width: 85%;
    font-size: var(--medium-font-size);
    transition: var(--hover-transition);
}

input::placeholder {
    color: var(--copy-green);
    font-size: var(--medium-font-size);
    opacity: 1 0;
}

input:focus{
    border-bottom: 1px solid var(--primary-green);
    outline: none;
    font-size: var(--medium-font-size);
}


button{
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: var(--inner-radius);
    cursor: pointer;
}

.primary-green {
    color: var(--copy-green);
    background-color: var(--secondary-green);
}

.primary-green:hover {
    color: var(--white);
    background-color: var(--primary-green);
    transition: var(--hover-transition);
}

.primary-orange {
    color: var(--copy-orange);
    background-color: var(--primary-orange);
}

.primary-orange:hover {
    color: var(--secondary-orange);
    background-color: var(--copy-orange);
    transition: var(--hover-transition);
}

.about-section {
    min-height: 100vh;
    height: auto;
    padding: 50px 0px;
    align-items: center;
}

.about-text {
    grid-column: 2/7;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: flex-start;
}

.about-text > button {
    align-self: flex-start;
}

.about-image{
    grid-column: 7/13;
    width: 80%;
    align-self: center;
    justify-self: center;
}

.destinations-section{
    grid-template-rows: 0.2fr repeat(2,1fr);
    background-color: #E5EEFF;
    margin: 0;
    padding:  100px 100px;
    height: auto;
    row-gap: 20px;
}

.destinations-text{
    grid-area: 1/1/2/13;
    justify-self: center;
}

.card{
    display: flex;
    background-color: var(--white);
    border-radius: var(--outer-radius);
    padding: 1.5rem;
}

.card[mode="horizontal"]{
    flex-direction: row;
    column-gap: 1rem;
}

.card[mode="vertical"]{
    flex-direction: column;
    row-gap: 1rem;
}

.destination-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--inner-radius);
}

.destination-image-container[mode="vertical"]{
    height: 428px;
    width: 100%;
    align-items: flex-start;
}

.destination-image-container[mode="horizontal"]{
    width: 255px;
    flex-shrink: 0;
    height: 348px;
}

.destination-image{
    max-height: 100%;
    object-fit: cover;
}
.destination-image[mode="horizontal"]{
    height: 100%;
    align-items: flex-start;
}

.destination-content{
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    flex: 1 1;
    justify-content: space-between;
}

.destination-card-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.destination-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-end;
}

.card:hover{
    box-shadow: var(--shadow);
    transition: var(--hover-transition);
}

.card:hover .destination-image, .card:hover .review-image{
    transform: scale(1.05);
    transition: var(--hover-transition);
}


.card[type="destination"]:nth-of-type(1) {
    grid-area: 2/1/4/5;
}
.card[type="destination"]:nth-of-type(2) {
    grid-area: 2/5/3/9;
}
.card[type="destination"]:nth-of-type(3) {
    grid-area: 3/5/4/9;
}
.card[type="destination"]:nth-of-type(4) {
    grid-area: 2/9/4/13;
    max-width: 100%;
}

.reviews-section{
    min-height: 100vh;
    height: auto;
    padding: 100px 0px;
}

.reviews-section > h3{
    grid-column: 1/10;
    padding-bottom: 50px;
}

.card[type="review"]{
    box-shadow: var(--shadow);
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex: 1;
}

.card[type="review"]:nth-of-type(1) {
    grid-column: 1/5;
}
.card[type="review"]:nth-of-type(2) {
    grid-column: 5/9;
}
.card[type="review"]:nth-of-type(3) {
    grid-column: 9/13;
}

.review-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: var(--inner-radius);
}

.review-image{
    max-width: 100%;
    object-fit: cover;
}


.footer-section{
    height: 654px;
    row-gap: 2rem;
    background-color: #FFF8E4;;
    border-radius: 8px;
    grid-column: 1/13;
}

.contact-details-container{
    position: relative;
    background-color: var(--secondary-orange);
    border-radius: var(--outer-radius);
    grid-column: 1/13;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    row-gap: 2rem;
    z-index: 1;
}
.contact-details{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    text-decoration: none;
    list-style-type: none;
    color: var(--copy-orange);
}



.footer-image{
    grid-column: 3/11;
    height: 450px;
    border-radius: var(--outer-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-top: -225px;
}

.footer-image>img{
    max-width: 100%;
    margin-top: -100px;
}
.footer-section>.logo{
    height: 100;
    grid-column: 1/13;
    align-self: center;
    justify-self: center;
}

.card[type="footer"]:nth-of-type(1) {
    height: 212px;
    border-radius: 0;
    grid-column: 2/7;
    margin-top: 108px;
    border-radius: 4px;

}
.card[type="footer"]:nth-of-type(2) {
    height: 212px;
    border-radius: 0;
    margin-top: 108px;
    grid-column: 7/12;
    border-radius: 4px;
}
.card[type="footer"]:nth-of-type(3) {
    height: 212px;
    border-radius: 0;
    margin-bottom: 91px;
    grid-column: 2/7;
    border-radius: 4px;
}
.card[type="footer"]:nth-of-type(4) {
    height: 212px;
    border-radius: 0;
    grid-column: 7/12;
    margin-bottom: 91px;
    border-radius: 4px;
}

.card {
    text-align: center;
  }
  
  .card-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;

    color: #6C4801;
  }
  
  .card-text {
    font-size: 11px;
    text-align: center;

    color: #3B3B3B;

  }

@media screen and (max-width: 768px) {
    .grid{
        grid-template-columns: repeat(8,1fr);
        margin: 0px 25px;
        column-gap: 10px;
    }

    .navbar{
        padding: 1.5rem 25px;
        width: 100%;
    }

    .menu{
        column-gap: 0.5rem;
    }
    .logo{
        font-size: var(--medium-font-size);
    }

    h3 {
        font-size: var(--medium-font-size);
        line-height: 32px;
    }

    .welcome-text{
        row-gap: 0.25rem;
    }

    .search-container{
        flex-direction: column;
        row-gap: 1rem;
    }

    .about-section{
        row-gap: 25px;
    }

    .about-text{
        grid-column: 1/9;
    }

    .about-image{
        grid-column: 1/9;
        width: 100%;
    }

    .destinations-section{
        grid-template-rows: 0.1fr repeat(3,1fr);
        margin: 0;
        padding: 50px 25px;
        height: auto;
    }
    .destinations-text{
        grid-area: 1/1/2/9;
    }

    .card[mode="horizontal"]{
        flex-direction: column;
        row-gap: 1rem;
    }
    .destination-image-container[mode="vertical"]{
        height: 150px;
    }

    .destination-image-container[mode="horizontal"]{
        height: 150px;
        width: 100%;
    }

    .destination-image[mode="horizontal"]{
        height: 150px;
        width: 100%;
    }

    .card[type="destination"]:nth-of-type(1) {
        grid-area: 2/1/3/9;
    }
    .card[type="destination"]:nth-of-type(2) {
        grid-area: 3/1/4/9;
    }
    .card[type="destination"]:nth-of-type(3) {
        grid-area: 4/1/5/9;
    }

    .reviews-section{
        grid-template-rows: 0.1fr repeat(3,1fr);
        padding: 30px 0px;
        row-gap: 20px;
    }

    .reviews-section > h3{
        grid-area: 1/1/2/9;
        padding-bottom: 20px;
    }

    .card[type="review"]:nth-of-type(1) {
        grid-area: 2/1/3/9;
    }
    .card[type="review"]:nth-of-type(2) {
        grid-area: 3/1/4/9;
    }
    .card[type="review"]:nth-of-type(3) {
        grid-area:  4/1/5/9;
    }

    .footer-section{
        padding: 50px;
    }

    .contact-details-container{
        grid-column: 1/9;
        padding: 0px;
        height: 400px;
        padding: 1rem
    }

    .contact-details{
        flex-direction: column;
        align-items: center;
    }

    .footer-image{
        grid-column: 2/8;
        height: 150px;
        margin-top: -100px;
        max-width: 100%;
    }

    .footer-image>img{
        width: 100%;
       height: 100%;
       object-fit: cover;
       margin-top: 0;
    }

    .footer-section>.logo{
        grid-column: 1/9;
    }

    .footer-text{
        text-align: center;
    }
}
